footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
footer .footer--conteneur {
  display: flex;
  flex-direction: column;
}
footer .footer__logo {
  font-family: "Shrikhand", serif;
  font-weight: 100;
  color: white;
  margin: 15px 0px 15px 15px;
  font-size: 1.1rem;
}
footer .footer__link {
  margin-left: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
footer .fa-solid {
  font-size: 0.85rem;
}

* {
  font-family: Roboto, sans-serif;
  font-size: 1.05rem;
  padding: 0;
  margin: 0;
}

.logo-title {
  font-family: "Shrikhand", serif;
  font-weight: 100;
  font-size: 1.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15x 20px 15px;
}
header .header--retour {
  margin-right: auto;
}
header .header--logo {
  display: flex;
}

.restaurant {
  height: 220px;
  padding: 0;
  margin: 0;
}
.restaurant img {
  height: 120%;
  width: 100%;
  object-fit: cover;
}

.menu {
  background-color: white;
  display: flex;
  justify-content: center;
}
.menu .menu--conteneur {
  width: 100%;
  background-color: #F6F6F6;
  padding: 60px 10px 20px 10px;
  border-radius: 50px 50px 0px 0px;
}
.menu .menu--introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.menu .logo-title {
  background-color: #F6F6F6;
}

.menu--etape {
  background-color: #F6F6F6;
  margin-bottom: 40px;
}
.menu--etape p {
  font-size: 0.85rem;
  text-overflow: ellipsis;
}
.menu--etape span {
  text-underline-offset: 0.5rem;
  text-decoration: underline #99E2D0 3px;
}
.menu--etape h2 {
  margin-bottom: 15px;
  font-weight: 400;
}
.menu--etape .menu--plats {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.menu--etape .menu--plats .btn {
  display: flex;
  border: none;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
}
.menu--etape .menu--plats .btn:hover .menu--ajouter {
  transform: translateX(-70px);
}
.menu--etape .menu--plats .btn:hover .menu--prix {
  transform: translateX(-70px);
}
.menu--etape .menu--plats .btn .menu--prix {
  transition: transform 400ms;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 0;
}
.menu--etape .menu--plats .btn--conteneur {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 15px;
}
.menu--etape .menu--plats .btn--text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.menu--etape .menu--plats .menu--ajouter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin-right: -70px;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0px;
  transform-origin: right;
  transition: transform 400ms;
}
.menu--etape .menu--plats .menu--ajouter .fa-check {
  color: #99E2D0;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

.plats {
  opacity: 0;
  animation: menu 1000ms 500ms forwards;
}

.dessert {
  opacity: 0;
  animation: menu 1000ms 1500ms forwards;
}

@keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cta--conteneur {
  display: flex;
  justify-content: center;
}
.cta--conteneur .cta {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-size: 1rem;
  padding: 14px 15px 14px 15px;
  border: 0px;
  border-radius: 25px;
  margin-bottom: 30px;
  box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  padding: 15px 50px 15px 50px;
}

@media (min-width: 1024px) {
  .menu .menu--conteneur {
    width: 80%;
  }
  footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 40px;
  }
  footer .footer--conteneur {
    flex-direction: row;
    gap: 10px;
  }
  footer .footer__logo {
    margin: 20px 30px 32px 70px;
  }
  footer .spaced {
    margin-right: 60px;
  }
}

/*# sourceMappingURL=restaurant_1.css.map */
